{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé</h1>
    <p>
        La page demandée n'a pas été trouvé (erreur 404).
        Vérifier l'url ou retourner à la <a href="{{ path('homepage') }}">page d'acceuil</a>.
    </p>
{% endblock %}
